body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #e9ecef;
}

.active{    
    @media(min-width: 768px){
        font-size: 25px;
    }
}

img{
    width: 100%;

    @media(max-width:768px){
        width: 50%;
        margin-left: 25%;
    }

    @media(min-width: 769px) and (max-width: 1139px){
        width: 50%;
        margin-left: 25%;
    }
}

.jumbotron{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

.title{
    @media(max-width: 768px){
        font-size: 30px;
    }
}

.jumbotron-text{
    color: #fff;
    margin-top: 260px;
    font-weight: bold;
    font-size: 40px;

    @media(max-width: 1140px) and (min-width: 769px){
        margin-top: 60px;
    }

    @media(max-width: 768px){
        margin-top: 130px;
        font-size: 22px;
    }

    @media(orientation: landscape) and (max-width: 768px){
       margin-top: 24px;
    }

}

.link_icon{
    @media(max-width:768px){
        width: 20%;
    }
}

.name{
	padding-top: 15%;
	font-weight: bold;
	font-style: italic;    
 }


.nav-link{
    color: black !important;
}

.jumbotron{
    padding: 0;
    margin: 0;
    background: url("https://cdn.pixabay.com/photo/2017/07/31/11/44/laptop-2557572_1280.jpg") center center;
    height: 100vh;
    background-size: cover; 

    @media(orientation: landscape) and (max-width: 768px){
        height: 150vh;
    }
} 
 
.navbar-center{
    left: 0;
    text-align: center; 
    font-size: 20px;
    width: 100%;
    background-color: rgba(50, 33, 23);
    z-index: 1000;
 

    @media(min-width:768px){
        position: fixed;
    }

    li{
        width: 15%;

        @media(min-width: 768px){
            &:first-child{
                margin-left: 20%;
            }
        }
        span{
            color: #fff !important;
        }
        
    }
}

.bg-light{
    background-color: rgba(50, 33, 23) !important; 
    
    @media(min-width:768px){
        height: 50px !important;
    }
}

.nav-link{
    padding-top: 25px;
}

@media(max-width: 1140px){
    .navbar{
        padding: 0 !important;
    }

    ul{
        width: 100% !important; 
      
        li{
            width: 100% !important;
        }
    }
}
    
@mixin technique{
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    height: 150px;
}

.about_title, .portfolio_title, .contact_title{
    @include technique;
    padding-top: 100px;
}

.technique{
    @include technique;
}

#tech{
    background-color: #fff;
    height:600px;

    @media(min-width: 768px) and (max-width: 992px){
        height:400px;
    }

}

#portfolio{
    margin-bottom: 150px;
}


.margin_xl_top{
    margin-top: 150px;

    @media(min-width: 768px) and (max-width: 992px){
        margin-top: 100px;
    }
}


.description{
    font-size: 22px;
    text-align: justify;
    padding: 0 5%;
}

.website{
   
    .sample_title{
        font-weight: bold;
        text-align: center;
    }

    &:nth-child(odd){
        margin-left: 5px;
    }
}

.info{
        align-items: center; 
        justify-content: center;
        margin: 0 auto;
        &:hover:after{
        color: white;
        font-size: 25px;
        content: "kliknij...";
    }
}

@mixin img_hov($path){
    display: flex;
    width: 475px;
    height: 220px;
    background-image: url($path);
    background-position: center;
   &:hover{
    background-image: none;   
    background-color: black;
    
   }
}

.img_hover_portfolio{
    @include img_hov("/image/rorPortfolio.png");
}

.img_hover_phototime{
    @include img_hov("/image/phototime.png");
}

.img_hover_lp{
    @include img_hov("/image/landing_page.png");
}

.img_hover_awax{
    @include img_hov("/image/awax.png");
}

.img_hover_ind{
    @include img_hov("/image/indywidualny.png");
}

.img_hover_game{
    @include img_hov("/image/gra.png");
}

.img_hover_sudoku{
    @include img_hov("/image/reactSudoku.png");
}

.img_hover_mage{
    @include img_hov("/image/mage.png");
}

.img_hover_react_game{
    @include img_hov("/image/reactGame.png");
}

.img_hover_react_crud{
    @include img_hov("/image/reactCrud.png");
}

.img_hover_react_calc{
    @include img_hov("/image/reactCalc.png");
}

.btn_close{
    background-color: white;
    color:black;

    &:hover{
        background-color: black;
        color: white;
    }
}

.modal_row{
    padding: 0 5% 1% 5%;
    i{
        padding-left: 5%;
    }
}

.tech_title{
    text-align: center;
    font-weight: bold;
}

.tech_desc{
    text-align: center;
    height: 170px;
    margin-bottom: 100px;
}

.fa{
    font-size:30px;
}

.message{
    resize: none;
}

#tech{
    @media(max-width: 768px){
        height: 1700px;
    }
}

#contact{
    margin-top: 100px;
    height: 700px;
    position: relative;

    i{
        font-size: 100px;
        padding-left: 15%;
    }

}

.form-group{
    input, textarea{
    border: none;
    border-radius: 0;
    background-color: #e9ecef;
    border-bottom: 1px solid black !important;
    resize: none;
    overflow: hidden;
    }

    textarea{
        height: 100px;
    }

    label{
        font-size: 20px;
    }
    
}

.focused {
    background: #abcdef !important;
  }

.button{
    background-color: rgba(50, 33, 23);
    color: #fff;
    border: none;
    height: 50px;

    @media(max-width: 768px){
        margin-top: 10px;
    }

}

#status_message{ 
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0; 
}

.footer{
    width: 100%;
    height: 25px;
    position: absolute;  
    bottom: 0;
    background: black;
    color: white;
    text-align: center;

}








