body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.jumbotron{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/11/52/coder-1869306_1280.jpg");
    text-align: center;
}

.name{
	padding-top: 15%;
	font-weight: bold;
	font-style: italic;    
 
 }
 
#topheader{
    .navbar-nav{
        li{
            a{
                color: white;
                transition: background-color 0.5s;
                font-size: 18px;
                width: 100%;
                margin: 0;
                padding: 0;

                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
    }
} 

    
.navbar{
    padding: 0;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;

        ul li{
        width: 95px;
        height: 50px;
        padding: 10px;

        &.active{
            background-color: red;
	        color: white
        }
    
        &:hover{
            background-color:rgb(139, 116, 116);
        }

    }
}

@mixin technique{
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
}

.about_title, .portfolio_title, .contact_title{
    @include technique;
    padding-top: 100px;
}

.technique{
    @include technique;
}

.tech{
    padding-top: 100px;
    img{
        width: 150px;
        height: 150px;
    }
}

#portfolio{
    margin-bottom: 150px;
}

.form-control{
    width:750px;
}

#about{
    width: 100%;
    background-color: #e4f2ec;
    

    img{
    border-radius: 50%;
    margin-top: 100px;
    }
}

.margin_top{
    margin-top: 150px;
}


.description{
    text-align: justify;
}

.me{
    margin-top: 250px;
}

.website{
    height: 300px;


    .sample_title{
        font-weight: bold;
        text-align: center;
    }

   
    img{
        margin-left: 5px;
        margin-top: 25px;
    }

    &:hover{
        background: black;
    
        img{
            opacity: 0;
        }

    }


    &:nth-child(odd){
        margin-left: 5px;
    }

}

.info{
    &:hover:after{
        color: white;
        position: relative;
        bottom: 150px;
        left: 40%;
        font-size: 25px;
        content: "więcej...";
    }
}

.button{
    margin-top: 50px;
}

.btn_close{
    background-color: white;
    color:black;

    &:hover{
        background-color: black;
        color: white;
    }
}

.modal_row{
    padding: 0 5% 1% 5%;
}

.fa{
    font-size:30px;
}

#contact{
    margin-top: 100px;
    background-color: #e4f2ec;
    height: 700px;

    i{
        margin-left: 15px;
    }

}

textarea{
    min-width: 750px;
    max-width: 750px;
    min-height: 80px;
    max-height: 80px;
}

.footer{
    background: black;
    color: white;
    text-align: center;
}


@media only screen and (max-width: 768px){

    body{
        width: 100%;
    }

    .jumbotron{
        margin-top: 300px;
        height: 260px;
    }
    

    .name{
        padding-top: 15%;
        font-weight: bold;
        font-style: italic;    
     }

     .display-1{
        font-size: 30px;
        margin-top: 5vh;
    }

   
    .navbar{
      
        height: 300px;
        width: 100%;
            ul li{
            height: 100px;
            padding: 5px;
            width: 100%;

            a{
                font-size: 25px !important;
            }

            &.active{
                background-color: red;
                color: white
            }
        }
    }
    .display-4{
        font-size: 40px;
    }
    
    .margin_top{
        margin-top: 50px;
    }
    

    #about{
        height: 550px;
        width: 100%;
    }

   

    .description{
        font-size: 20px;
    }


  

  }
