@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.jumbotron {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/11/52/coder-1869306_1280.jpg");
  text-align: center;
}

.name {
  padding-top: 15%;
  font-weight: bold;
  font-style: italic;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 10;
}

#topheader .navbar-nav li a {
  color: white;
  transition: background-color 0.5s;
  font-size: 18px;
}
#topheader .navbar-nav li a:hover, #topheader .navbar-nav li a:focus {
  text-decoration: none;
}

.navbar {
  padding: 0;
  height: 50px;
}
.navbar ul li {
  width: 95px;
  height: 50px;
  padding: 10px;
}
.navbar ul li.active {
  background-color: red;
  color: white;
}
.navbar ul li:hover {
  background-color: #8b7474;
}

.about_title, .portfolio_title, .contact_title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
}

.technique {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.tech {
  padding-top: 100px;
}
.tech img {
  width: 150px;
  height: 150px;
}

#portfolio {
  margin-bottom: 150px;
}

.form-control {
  width: 750px;
}

#about {
  height: 100vh;
  background-color: #e4f2ec;
}
#about img {
  border-radius: 50%;
  margin-top: 100px;
}

.margin_top {
  margin-top: 150px;
}

.description {
  font-size: 22px;
  text-align: justify;
}

.me {
  margin-top: 250px;
}

.website {
  height: 300px;
}
.website .sample_title {
  font-weight: bold;
  text-align: center;
}
.website img {
  margin-left: 5px;
  margin-top: 25px;
}
.website:hover {
  background: black;
}
.website:hover img {
  opacity: 0;
}
.website:nth-child(odd) {
  margin-left: 5px;
}

.info:hover:after {
  color: white;
  position: relative;
  bottom: 150px;
  left: 40%;
  font-size: 25px;
  content: "więcej...";
}

.button {
  margin-top: 50px;
}

.btn_close {
  background-color: white;
  color: black;
}
.btn_close:hover {
  background-color: black;
  color: white;
}

.modal_row {
  padding: 0 5% 1% 5%;
}

.fa {
  font-size: 30px;
}

#contact {
  margin-top: 100px;
  background-color: #e4f2ec;
  height: 700px;
}
#contact i {
  margin-left: 15px;
}

textarea {
  min-width: 750px;
  max-width: 750px;
  min-height: 80px;
  max-height: 80px;
}

.footer {
  background: black;
  color: white;
  text-align: center;
}

@media (max-width: 980px) {
  .jumbotron {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 125%;
    height: 790px;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/11/52/coder-1869306_1280.jpg");
    text-align: center;
    opacity: 0.8;
  }

  .name {
    color: blue;
  }

  .display-1 {
    font-size: 100px;
    margin-top: 5vh;
  }

  .navbar {
    padding: 0;
    height: 45vh;
    position: relative;
  }
  .navbar ul li {
    height: 200px;
    width: 50vw;
    padding: 10px;
  }
  .navbar ul li a {
    font-size: 100px !important;
    color: green;
  }
  .navbar ul li.active {
    background-color: red;
    color: white;
  }

  .display-4 {
    font-size: 50px;
  }

  .about_title, .portfolio_title, .contact_title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-size: 75px;
  }

  #about {
    height: 2000px;
  }
  #about img {
    width: 500px;
  }

  .description {
    font-size: 50px;
  }

  #portfolio img {
    width: 100%;
    height: 500px;
  }

  .sample_title {
    font-size: 50px;
  }

  .website {
    height: 500px;
  }

  #technique img {
    width: 50%;
    height: 50%;
    margin-left: 30%;
  }

  #contact {
    height: 1300px;
  }
  #contact label {
    font-size: 80px;
  }
  #contact input {
    height: 80px;
  }
  #contact button {
    margin-top: 20px;
    height: 100px;
    width: 150px;
    font-size: 40px;
  }

  .social {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
  }
  .social i {
    font-size: 100px;
  }

  .footer {
    font-size: 40px;
  }

  [class^=modal] {
    font-size: 55px;
  }
  [class^=modal] i {
    font-size: 60px;
  }
  [class^=modal] .btn_close {
    font-size: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
