body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #e9ecef;
}

.hidden{
    display: none;
}

.jumbotron{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
}

.name{
	padding-top: 15%;
	font-weight: bold;
	font-style: italic;    
 }

.display-4{ 
    height: 60px;
    overflow: hidden;
    div{

    &:first-child{
        animation: anim 5s  infinite;
}
    div{
        color: black;
        height: 45px;
        margin-bottom: 45px;
        display:inline-block;
       
        
    }  
  }
}


@keyframes anim {
    0% {margin-top:-200px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-200px;}
}
 
#topheader{

    .navbar-nav{
        position: fixed;
        z-index: 10;
        width: 100%;
        background-color: #343a40;
        padding-top: 25px;

        li{padding-left: 1%;
            a{
                color: white;
                transition: background-color 0.5s;
                font-size: 18px;
                
                
               
                &:hover, &:focus{
                    text-decoration: none;
                    background-color: red;
                
                }
            }
        }
    }
}
    
@mixin technique{
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
    height: 150px;
}

@mixin color($col){
    background-color: $col;
}

.blue{
    @include color(blue);
}

.red{
    @include color(red);
}

.yellow{
    @include color(yellow);
}

.black{
    @include color(black);
}

.white{
    color: white;
}

.about_title, .portfolio_title, .contact_title{
    @include technique;
    padding-top: 100px;
}

.technique{
    @include technique;
}

.tech{
    padding-top: 100px;
    img{
        width: 150px;
        height: 150px;
    }
}

#portfolio{
    margin-bottom: 150px;
}

.form-control{
    width:750px;
}

#about{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/11/52/coder-1869306_1280.jpg");
    img{
    border-radius: 50%;
    margin-top: 100px;
    }
}

.margin_xl_top{
    margin-top: 150px;
}


.description{
    font-size: 22px;
    text-align: justify;
    padding: 0 5%;
}

.me{
    margin-top: 250px;
}

.website{
    height: 300px;
  

    .sample_title{
        font-weight: bold;
        text-align: center;
    }

   
    img{
        margin-left: 5px;
        margin-top: 25px;
    }

    &:hover{
        background: black;
    
        img{
            opacity: 0;
        }

    }


    &:nth-child(odd){
        margin-left: 5px;
    }

}

.info{
    &:hover:after{
        color: white;
        position: relative;
        bottom: 150px;
        left: 40%;
        font-size: 25px;
        content: "więcej...";
    }
}

.button{
    margin-top: 50px;
}

.btn_close{
    background-color: white;
    color:black;

    &:hover{
        background-color: black;
        color: white;
    }
}

.modal_row{
    padding: 0 5% 1% 5%;
    i{
        padding-left: 5%;
    }
}

.tech_title{
    text-align: center;
    font-weight: bold;
}

.tech_desc{
    text-align: center;
    height: 170px;
    margin-bottom: 60px;
}

.fa{
    font-size:30px;
}

#contact{
    margin-top: 100px;
    height: 700px;

    i{
        font-size: 150px;
        padding-left: 15%;
    }

}

.footer{
    background: black;
    color: white;
    text-align: center;
}


@media(max-width:768px) and (orientation: landscape){
   
    .name{
        padding-top: 10%;
    }

    .zero-padding{
        padding: 0;
    }

    #topheader{
        .navbar-nav{
            position: absolute;
            width: 100%;
            background-color: #343a40;
        }
    } 
    .navbar-toggler{
        margin: 5% 0 5% 10%;
    }
  
    .nav-link span{
      margin-left: 10%;
  }
    .display-1{
        font-size: 2.5em;
    }

    .display-4{
        font-size: 2em;
    }

    #about{
        height: 400px;
    }

    #portfolio{
        margin-top: 50px;
    }

    .sample_title{
        margin-top: 50px !important;
    }

    .about_title, .portfolio_title, .contact_title{
        padding-top: 0px !important;
        height: 0px !important;
    }

   .mt50{
       margin-top: 50px !important;
   }

    img{
        width: 100%;
    }

   
  #technique{
      margin-top: 50px !important;
      div{
          margin-top: 0px;
      }
  }
  #contact{
      height: 260px;  
  }

  .margin_top{
      margin-top: 100px !important;
  }

  .mt0{
      margin-top: 0px !important;
  }

}

  @media(max-width: 576px){

    .zero-padding{
        padding: 0;
    }

  .navbar-toggler{
      margin: 0 0 5% 10%;
  }

  .nav-link span{
    margin-left: 10%;
}

      .hidden{
          display: block;
      }

      #topheader{
        .navbar-nav{
            position: absolute;
            width: 100%;
            background-color: #343a40;
        }
    }

    .display-1{
        font-size: 1.7em;
    }

    .display-4{
        font-size: 1.5em;
    }

    .jumbotron{
        height: 15rem;
    }

    img{
        width: 100%;
    }

    
  
}

@media(max-width: 304px){

    .zero-padding{
        padding: 0;
    }

    .description{
        font-size: 1em;
    }

    .about_title, .portfolio_title, .contact_title{
        @include technique;
        padding-top: 50px;
    }

    .margin_top{
        margin-top: 100px;
    }

    #about{
        height: 500px;
    }

    .website{
        height: 100px;
        margin-top: 200px;
    
        .sample_title{
            font-weight: bold;
            text-align: center;
        }
    
       
        img{
            margin-left: 5px;
            margin-top: 25px;
        }
    
        &:hover{
           
            height: 200px;
        
            img{
                opacity: 0;
            }
    
        }

        &:nth-child(odd){
            margin-left: 5px;
        }
    
    }

    .info{
        &:hover:after{
            bottom: 100px;
        }
    }
}